body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(39, 34, 42);
    --hover_scale: 1.06;
    --orderline1: 1;
    --orderline3: 3;
}

h1 {color: whitesmoke;}

.calculator {
    width: 200px;
    height: 308px;
    margin: 0 auto;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

#display {
    margin-bottom: 5px;
    padding: 2px;
    font-size: 32px;
    width: 95%;
    text-align: left;  /* Eingaben erscheinen von links */
    background-color: rgb(39, 34, 42);
    color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    outline: none;
}

.buttons {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px;
    transform-origin: center center;
}

button {
    font-size: 32px;
    background-color: rgb(39, 34, 42);
    border: 1px solid whitesmoke;
    border-radius: 5px;
    color: whitesmoke;
    text-align: center;
    margin: 2px;
    transition: transform 0.3s ease;
}

button:hover {
    transform: scale(var(--hover_scale));
}

/* text-align and cursor*/
#zero {text-align: center; cursor: default;}
#one, #four, #seven {text-align: start; cursor: default;}
#two, #five, #eight {text-align: center; cursor: default;}
#three, #six, #nine {text-align: end; cursor: default;}

#zero:hover, #two:hover, #four:hover, #six:hover, #eight:hover {background-color: rgb(49, 22, 14); /* Farbe bei Hover für gerade Zahlen */} 
#one:hover, #three:hover, #five:hover, #seven:hover, #nine:hover {background-color: rgb(50, 50, 50); /* Farbe bei Hover für ungerade Zahlen */}

button:nth-child(1), button:nth-child(2), button:nth-child(3), button:nth-child(4) {
    cursor: pointer;  /* Zeigefinger bei den Grundrechenarten */
}

#calculate {
    grid-area: 3 / 4 / 5 / 5;
}

.numbers {
    grid-area: 2 / 1 / 5 / 4;
    display: flex;
    width: 150px;
    flex-wrap: wrap;
    transform-origin: center center;
}

#line1 {
    order: var(--orderline1);
    grid-area: 1 / 1 / 2 / 4;
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px;
    transform-origin: center center;
}

#line2 {
    order: 2;
    grid-area: 2 / 1 / 3 / 4;
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px;
    transform-origin: center center;
}

#line3 {
    order: var(--orderline3);
    grid-area: 3 / 1 / 4 / 4;
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px;
    transform-origin: center center;
}