:root {
    --show_palette: hidden;
    --hover_scale: 1.06;
}

* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 32px;
}

#eingabefeld {
    grid-area: 1 / 1 / 3 / 5;
    -webkit-user-select: text; /* Safari */
    -ms-user-select: text; /* IE 10 and IE 11 */
    user-select: text; /* Standard syntax */
}

#gleich {
    grid-area: 6 / 4 / 8 / 5;
}

#gleich:hover {
    transform: scale(var(--hover_scale));
}

#palette {
    grid-area: 8 / 1 / 10 / 5;
    cursor: none;
    visibility: var(--show_palette);
}

#plus {
    cursor: pointer;
}

#plus:hover {
    transform: scale(var(--hover_scale));
}

#minus {
    cursor: pointer;
}

#minus:hover {
    transform: scale(var(--hover_scale));
}

#mal {
    cursor: pointer;
}

#mal:hover {
    transform: scale(var(--hover_scale));
}

#durch {
    cursor: pointer;
}

#durch:hover {
    transform: scale(var(--hover_scale));
}

#null:hover {
    background-color: rgb(49, 22, 14);
    transform: scale(var(--hover_scale));
}

#eins:hover {
    background-color: rgb(50, 50, 50);
    transform: scale(var(--hover_scale));
}

#zwei:hover {
    background-color: rgb(49, 22, 14);
    transform: scale(var(--hover_scale));
}

#drei:hover {
    background-color: rgb(50, 50, 50);
    transform: scale(var(--hover_scale));
}

#vier:hover {
    background-color: rgb(49, 22, 14);
    transform: scale(var(--hover_scale));
}

#fünf:hover {
    background-color: rgb(50, 50, 50);
    transform: scale(var(--hover_scale));
}

#sechs:hover {
    background-color: rgb(49, 22, 14);
    transform: scale(var(--hover_scale));
}

#sieben:hover {
    background-color: rgb(50, 50, 50);
    transform: scale(var(--hover_scale));
}

#acht:hover {
    background-color: rgb(49, 22, 14);
    transform: scale(var(--hover_scale));
}

#neun:hover {
    background-color: rgb(50, 50, 50);
    transform: scale(var(--hover_scale));
}

#plusminus:hover {
    transform: scale(var(--hover_scale));
}

#clear:hover {
    transform: scale(var(--hover_scale));
}

#löschen:hover {
    transform: scale(var(--hover_scale));
}

#punkt:hover {
    transform: scale(var(--hover_scale));
}

.item {
    background-color: rgb(39, 34, 42);
    color: whitesmoke;
    overflow: hidden;
    z-index: 300;
    border: 1px black solid;
    border-radius: 15px;
    margin: 2px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    transition: transform 0.3s ease;
}

.container {
    left: 50%;
    top: 50%;
    display: grid;
    width: 400px;
    height: 700px;
    resize: both;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px;
}